@page
@model SejlKlubsApp.Pages.Admin.AdminHubModel
@{
    ViewData["Title"] = "AdminHub";
}

<h1>AdminHub</h1>
<form method="post">
    <div class="form-group">
        <button asp-page-handler="CreateBoat" class="alert-info" style="padding: 14px 28px; width: 33.3%; float: left">Ny båd</button>
    </div>
    <div class="form-group">
        <button asp-page-handler="CreateSailor" class="alert-info" style="padding: 14px 28px; width: 33.3%; float: left">Ny sejlor</button>
    </div>

    <div class="form-group">
        <button asp-page-handler="AllBoats" class="alert-info" style="padding: 14px 28px; width: 33.3%; float: left">Bådliste</button>
    </div>
    <div class="form-group">
        <button asp-page-handler="AllSailors" class="alert-info" style="padding: 14px 28px; width: 33.3%; float: left">Sejlorliste</button>
    </div>
    <div class="form-group">
        <button asp-page-handler="AllBookings" class="alert-info" style="padding: 14px 28px; width: 33.3%; float: left">Bookingliste</button>
    </div>
</form>

