@page
@model SejlKlubsApp.Pages.Sailors.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<hr />
<p class="text-danger">@Model.AccessDenied</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sailor.SailorId" />
            <div class="form-group">
                <label asp-for="Sailor.PasswordCheck" class="control-label">Skriv kode for sikkerhed</label>
                <input asp-for="Sailor.PasswordCheck" class="form-control" />
                <span asp-validation-for="Sailor.PasswordCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sailor.Password" class="control-label"></label>
                <input asp-for="Sailor.Password" class="form-control" />
                <span asp-validation-for="Sailor.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sailor.Password2" class="control-label"></label>
                <input asp-for="Sailor.Password2" class="form-control" />
                <span asp-validation-for="Sailor.Password2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem kodeord" class="btn button btn-dark"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Sailor/Details" asp-route-id="@Model.logService.GetLoggedSailor().SailorId">Tilbage til oversigt</a>
</div>

@section Scripts{ 
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}